* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #FED766;
    display: grid;
    grid-template-columns: 175px 175px 175px 175px 175px 175px;
    grid-gap: 20px;
    justify-content: center;
    height: 130px;
}

header .title-button {
    font-size: 32px;
    color: black;
    text-decoration: none;
    text-align: left center;
    font-weight: normal;
    display: inline-block;
    transition: 0.5s;
    background-color: white;
    height: 84px;
    width: 230px;
    padding-left: 7px;
    margin-top: 23px;
}

header .nav-button {
    font-size: 32px;
    color: black;
    text-decoration: none;
    text-align: left center;
    font-weight: normal;
    display: inline-block;
    transition: 0.5s;
    background-color: white;
    height: 84px;
    width: 230px;
    padding-left: 7px;
    margin-top: 23px;
    grid-column: 2;
}

/* footer {

} */

img {
    max-width: 100%;
}

.wrapper {
    padding: 30px 175px;
}

.container {
    max-width: 1440px;
}

.grid-main-parent {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 100px;
}

.grid-main-title {
    grid-column: span 2;
    
}

.grid-main-link {
    grid-row: 2;
    grid-column: 1;
}

.grid-main-space {
    grid-row: 2;
    grid-column: span 1;
}

.grid-main-image {
    grid-row: 2;
    grid-column: span 2;
}

.grid-page-content {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px 175px 175px;
    grid-gap: 20px;
    justify-content: center;
}


.page-title {
    grid-column: span 6;
    text-align: left;
    margin-top: 5%;
}

.white-box {
    background-color: white;
    padding: 5%;
    padding-left: 20px;
}


.body-text {
    font-size: 18px;
}

.link-colour {
    color: #0FB78F;
}

h1{
    font-size: 64px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}


li {
    text-align: left;
}

ul {
    text-align: left;
}

.main-button{
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 64px;
    padding: 5%;
    width: 400px;
    display: inline-block;
    transition: 0.5s;
    background-color: white;
    
}

.main-button:hover{
    border-radius: 25px;
    opacity: 0.8;
}

